body {
  margin: 0;
  font-family: sans-serif
}

div#board {
  font-size: 30vmin;
  height: auto;
}


#board div {
  height: 30vmin;
  width: 90vmin;
}

span {
  display: inline-block;
  width: 30vmin;
  text-align: center;
}

#board span {
  height: 30vmin;
  border: 1px solid black;
  box-sizing: border-box;
  vertical-align: top;
}

span.hover {
  background-color: #efe;
  color: #9f9;
}

button {
  width: 30vmin;
}


/* MINI-GAME */

#mini-games {
  position: absolute;
  display: flex;
  /* justify-content: flex-end; */
  bottom: 0;
  background-color: #ccc;
  width: 90vmin;
  height: 6vmin;
}


div.mini {
  width: 6vmin;
  font-size: 2vmin;
  height: auto;
  margin-left: 0.25vmin;
}


.mini div {
  height: 2vmin;
  width: 6vmin;
}

.mini span {
  height: 2vmin;
  width: 2vmin;
  border: 0.2px solid black;
  box-sizing: border-box;
  vertical-align: top;
}


/* #mini-games > div:first-child {
  position: absolute;
  left: 0;
  top: 0;
} */